.mainLayout{
    position: fixed; 
    user-select: none; 
    top: 12px; 
    right: 30px; 
    bottom: initial; 
    left: initial; 
    width: 306px; 
    height: 579px; 
    border: 0px; 
    z-index: 2147483646; 
    clip: auto; 
    display: block !important;
}

.toolbar{
    display:block;
    float:right;
}


